In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
print(df.columns)

Index(['artist', 'song', 'link', 'text'], dtype='object')

In [8]:
df = df.sample(5000).drop('link', axis=1, errors='ignore').reset_index(drop=True)

In [9]:
print(df.shape)

(5000, 3)

In [10]:
# Check if 'link' is in the DataFrame's columns
if 'link' in df.columns:
    print("'link' column exists.")
else:
    print("'link' column does NOT exist.")

'link' column does NOT exist.

In [11]:
duplicates = df.columns[df.columns.duplicated()].tolist()
if duplicates:
    print("Duplicate columns found:", duplicates)
else:
    print("No duplicate columns found.")

No duplicate columns found.

In [12]:
df.shape

(5000, 3)

In [13]:
df.head(10)

,artist,song,text
0,Stevie Wonder,Rain Your Love Down,Such a lovely world was made for you and me \...
1,Kelly Clarkson,Walk On By,"Ooh, ooh \r\nIf you see me walking down the s..."
2,XTC,Neon Shuffle,Hey - what you going to do now \r\nYou're sta...
3,Frank Sinatra,Ave Maria,"Gratia plena \r\nMaria, Gratia plena \r\nMar..."
4,Steely Dan,Parker's Band,Savoy sides presents a new saxophone sensation...
5,Old 97's,504,I was playing every Monday on Burgundy in some...
6,Everlast,B-Boy Punk Rock 2001,Ha Ha \r\nWhitey Ford \r\nX-ecutioners Style...
7,Lenny Kravitz,Are You Gonna Go My Way,"Intro after 8 \r\n \r\nI was born, long ago ..."
8,Fleetwood Mac,My Heart Beat Like A Hammer,Written by jeremy spencer. \r\n \r\nI woke u...
9,Dream Theater,The Spirit Carries On,Where did we come from? \r\nWhy are we here? ...

In [14]:
df['text'][0]

"Such a lovely world was made for you and me  \r\nWondrous life for us to taste, touch, smell, hear, and see  \r\nBut one glance from outside looking at our world state  \r\nClearly displays we don't appreciate it at all  \r\n  \r\nRain your love down won't you rain down your love  \r\nLet it drench us like the sun from above  \r\n  \r\nSuch ability inside you and me  \r\nMade to do anything and be all we can be  \r\nBut one bird's eye view at us does show, oh it shows  \r\nThat against God's Plan we've let it go, oh no  \r\n  \r\nRain your love down won't you rain down your love  \r\nLet it drench us like the sun from above  \r\nRain your love down let it rain down today  \r\nSo that it may wash all our sins away  \r\n  \r\nYou'd think the signs would make a difference,  \r\noh, make a difference  \r\nYou'd think fire next time instead of rain  \r\nWould cause us to make a change  \r\nThe world has gone insane  \r\n  \r\nRain, rain your love down won't you rain down your love  \r\nLet it drench us like the sun from above  \r\nRain your love down let it rain down today  \r\nSo that it may wash all our sins away, let it rain  \r\n  \r\nRain your love down let it pour on us, please  \r\nCleansing us from hunger, hate, war, and greed  \r\nRain your love down, won't you let it start over again  \r\nSo we can live up to your Master Plan  \r\n  \r\nRain your love down oh won't you let it start  \r\nWash the wicked minds and the  \r\nI know they're sick, you know they're sick, we know they're sick at heart,\r\nyeah  \r\n  \r\nRain your love down won't you let it rain  \r\nRid this world of drugs, disease, crime, and pain  \r\nClear our spirits give our minds new software  \r\nWith your lesson on honor, respect, trust, and care  \r\n  \r\nRain your love down I beg for human sake  \r\nFor only you can get us out of this state  \r\nRain your love down rain down on all mankind  \r\nCause we are out of order and so out of line.\r\n\r\n"

In [15]:
df=df.sample(5000)

In [16]:
df.shape

(5000, 3)

Text Cleaning/Text Preprocessing

In [17]:
df['text']=df['text'].str.lower().replace(r'^\w\s','').replace(r'\n','',regex=True)

In [18]:
df

,artist,song,text
4104,Bon Jovi,Lucky,she counts the days away and waits for valenti...
1492,Nine Inch Nails,Supernaut,practially every one of the top 40 records bei...
862,Fiona Apple,Sullen Girl,"days like this, \ri don't know what to do wit..."
1566,Squeeze,Loving You Tonight,the full moon's glowing \rblood red in the sk...
1201,Celine Dion,Alone,i hear the ticking of the clock \ri'm lying h...
...,...,...,...
2980,Pitbull,Daddy's Little Girl,this is for all the women \rthat have been st...
3043,Justin Bieber,So Sick,mmmm mmm yeah \rdo do do do do do do-do \roh...
1719,Will Smith,Momma Knows,at 17 years old i started runnin' the streets ...
3159,Morrissey,I Am Hated For Loving,i am hated for loving \ri am hated for loving...
116,Lil Wayne,Abortion,i see you with your palms in your pants \rbut...

In [19]:
df.tail(5)

,artist,song,text
2980,Pitbull,Daddy's Little Girl,this is for all the women \rthat have been st...
3043,Justin Bieber,So Sick,mmmm mmm yeah \rdo do do do do do do-do \roh...
1719,Will Smith,Momma Knows,at 17 years old i started runnin' the streets ...
3159,Morrissey,I Am Hated For Loving,i am hated for loving \ri am hated for loving...
116,Lil Wayne,Abortion,i see you with your palms in your pants \rbut...

In [20]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\chata\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [21]:
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\chata\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [22]:
nltk.data.find('tokenizers/punkt')

FileSystemPathPointer('C:\\Users\\chata\\AppData\\Roaming\\nltk_data\\tokenizers\\punkt')

In [23]:
import nltk
from nltk.stem import PorterStemmer

# Initialize your stemmer
stemmer = PorterStemmer()

# Define the token function
def token(txt):
    tokenized = nltk.word_tokenize(txt)  # Tokenize the input text
    stemmed_words = [stemmer.stem(w) for w in tokenized]  # Stem each tokenized word
    return " ".join(stemmed_words)  # Join stemmed words back into a string and return

# Example usage
try:
    result = token("You are beautiful")
    print(result)  # Output should display the stemmed version of the input
except LookupError as e:
    print("Error:", e)

you are beauti

In [24]:
df['text'].apply(lambda x: token(x))

4104    she count the day away and wait for valentin s...
1492    practial everi one of the top 40 record be pla...
862     day like thi , i do n't know what to do with m...
1566    the full moon 's glow blood red in the sky it ...
1201    i hear the tick of the clock i 'm lie here the...
                              ...
2980    thi is for all the women that have been strip ...
3043    mmmm mmm yeah do do do do do do do-do ohh yeah...
1719    at 17 year old i start runnin ' the street man...
3159    i am hate for love i am hate for love anonym c...
116     i see you with your palm in your pant but me ,...
Name: text, Length: 5000, dtype: object

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [26]:
tfid = TfidfVectorizer(analyzer='word',stop_words='english')

In [27]:
matrix = tfid.fit_transform(df['text'])

In [28]:
similar = cosine_similarity(matrix)

In [29]:
similar[0]

array([1.        , 0.00235199, 0.0145309 , ..., 0.01019698, 0.00257075,
       0.01167083])

In [32]:
df[df['song']=='So Sick'].index[0]

np.int64(3043)

Recommender Function

In [ ]:
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance=sorted(list(enumerate(similar[idx])), reverse=True, key=lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [ ]:
recommender("Heat Wave")

In [34]:
import pickle

In [35]:
pickle.dump(similar,open("similarity","wb"))

In [37]:
pickle.dump(df,open("df","wb"))